<div id="footer">
  <div>
    <span>&copy; {{getYear()}} Tim Kutcher, Designed & Developed by Me</span>
    <span style="margin: 0 6px"> &bull; </span>
    <span>Source on <a href="https://gitlab.com/tkutcher/tkutcher-dot-com">
      <i class="fab fa-gitlab" style="margin: 0 4px"></i>GitLab</a>
    </span>
  </div>
</div>
